/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
.underlined { text-decoration: underline }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H2.underline {text-decoration: underline;}
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */

/* document-specific styles come next */

img.alignbottom
{
	border-style: none;
	vertical-align: bottom;
}

img.alignbottom1
{
	border-width: 1;
	border-style: solid;
	vertical-align: bottom;
}

img.alignmiddle
{
	border-style: none;
	vertical-align: middle;
}

caption.alignbottom
{
	vertical-align: bottom;
}

div.centertextleft
{
	text-align: left;
}

div.center
{

	text-align: center;
}

table.center
{
	margin-left:auto; 
	margin-right:auto;
}

td.textright
{
	text-align: right;
}

td.textleft
{
	text-align: left;
}

td.XHTMLStrictvalid
{
	border-style: none;
	caption-side: right;
}

th.textleft
{
	text-align: left;
}

p.underlinebold
{
	text-decoration: underline;
	font-weight:bold;
}

p.ita
{
	font-style: italic;
}

li.disc
{
	list-style-type: disc;
}