<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>IzPack documentation - @@CHAPTER TITLE@@</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>@@CHAPTER TITLE@@</h1>

<h2>@@SECTION@@</h2>

<h3>@@SUB-SECTION@@</h3>

<h4>@@SUB-SUB-SECTION@@</h4>

<p>This is a paragraph.</p>
<ul>
    <li>This is a list item.</li>
</ul>

<p class="code"><code><pre>
This is a piece of some source code or assimilated.
</pre></code></p>

<p>Here is a figure:</p>
<div class="figure" id="figure-id">
    <img src="figure.png" alt="This is what the figure is about" />
    <p>This is the figure caption.</p>
</div>

</body>

</html>
