<?xml version="1.0" encoding="iso-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
<title>CookBooks</title>
<meta name="description" content="About this document ..." />
<meta name="keywords" content="izpack-doc" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta http-equiv="Content-Style-Type" content="text/css" />

<link rel="STYLESHEET" href="izpack-doc.css" />
<link rel="previous" href="node11.html" />
<link rel="up" href="izpack-doc.html" />
</head>

<body >
	<!--Navigation Panel-->
	<table width="100%">
	<tr>
	<td><a><img class="alignbottom" width="37" height="24" alt="next" src="next_g.png" /></a> <a name="tex2html592" href="izpack-doc.html"><img class="alignbottom"
	width="26" height="24" alt="up" src="up.png" /></a> <a name="tex2html588" href="node11.html"><img class="alignbottom" width="63" height="24" alt="previous" src="prev.png" /></a> <a name="tex2html594"
	href="node1.html"><img class="alignbottom" width="65" height="24" alt="contents" src="contents.png" /></a></td>
	<td class="textright" rowspan="2"><a href="http://validator.w3.org/check?uri=referer"><img class="alignmiddle" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid Xhtml 1.0!" height="31" width=
	"88" /></a> <a href="http://jigsaw.w3.org/css-validator/"><img class="alignmiddle" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" height="31" width="88" /></a></td>
	</tr>
	
	<tr>
	<td><b>Up:</b> <a name="tex2html593" href="izpack-doc.html">izpack-doc</a> <b>Previous:</b> <a name="tex2html589"
	href="node11.html">The Commons Creative Attribution-NonCommercial-ShareAlike</a> <b><a name="tex2html595" href="node1.html">Contents</a></b></td>
	</tr>
	</table>
	<!--End of Navigation Panel-->

	<!--Table of Child-Links--> 
<p><br /><a name="CHILD_linkS"><strong>Subsections</strong></a> </p>

<ul>
<li><a name="mainTitle1" href="node5.html#mainTitle1">CookBooks</a>
	<ul>
		<li><a name="cookbook1" href="node5.html#cookbook1">1</a>
			<ul>
				<li><a name="cookbook12" href="node5.html#cookbook12">11</a></li>
				<li><a name="cookbook12" href="node5.html#cookbook12">12</a></li>
				<li><a name="cookbook13" href="node5.html#cookbook13">13</a></li>
			</ul>
		</li>
		<li><a name="cookbook2" href="node5.html#cookbook2">1</a>
			<ul>
				<li><a name="cookbook21" href="node5.html#cookbook21">21</a></li>
				<li><a name="cookbook22" href="node5.html#cookbook22">22</a></li>
				<li><a name="cookbook23" href="node5.html#cookbook23">23</a></li>
			</ul>
		</li>
	</ul>
</li>
</ul>

<!--End of Table of Child-Links-->

<h1><a name="mainTitle1">
CookBooks</a>
</h1>

<h2>Title</h2>
<h3>Problem</h3>
<p>A brief description of the problem that the recipe resolves.</p>

<h3>Solution</h3>
<p>A brief description of the solution (recipe).</p>

<h3>Discussion</h3>
<p>This section is the meat of the recipe and usually includes an in-depth description of the solution, screenshots, code samples, and a  step-by-step process that the user needs to follow in order to implement the solution.</p>




	<!--Navigation Panel-->
	<table width="100%">
	<tr>
	<td><a><img class="alignbottom" width="37" height="24" alt="next" src="next_g.png" /></a> <a name="tex2html592" href="izpack-doc.html"><img class="alignbottom"
	width="26" height="24" alt="up" src="up.png" /></a> <a name="tex2html588" href="node11.html"><img class="alignbottom" width="63" height="24" alt="previous" src="prev.png" /></a> <a name="tex2html594"
	href="node1.html"><img class="alignbottom" width="65" height="24" alt="contents" src="contents.png" /></a></td>
	<td class="textright" rowspan="2"><a href="http://validator.w3.org/check?uri=referer"><img class="alignmiddle" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid Xhtml 1.0!" height="31" width=
	"88" /></a> <a href="http://jigsaw.w3.org/css-validator/"><img class="alignmiddle" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" height="31" width="88" /></a></td>
	</tr>
	
	<tr>
	<td><b>Up:</b> <a name="tex2html593" href="izpack-doc.html">izpack-doc</a> <b>Previous:</b> <a name="tex2html589"
	href="node11.html">The Commons Creative Attribution-NonCommercial-ShareAlike</a> <b><a name="tex2html595" href="node1.html">Contents</a></b></td>
	</tr>
	</table>
	<!--End of Navigation Panel-->
<address>
Julien Ponge
2005-05-24
</address>
</body>
</html>
