<?xml version="1.0" encoding="iso-8859-1" standalone="yes" ?>

<!-- @warning.generated-file@ -->

<installation version="1.0">

    <info>
        <appname>@name.package@</appname>
        <appversion>@version.major@.@version.minor@.@version.patch@ @version.extra@</appversion>
        <authors>
            <author name="@name.maintainer@" email="@email.maintainer@"/>
        </authors>
        <url>@supporturl@</url>
    </info>
    <native type="izpack" name="ShellLink.dll"/>
    <guiprefs width="640" height="480" resizable="no"/>
    <locale>
        <langpack iso3="eng"/>
    </locale>
    <resources>
        <res id="LicencePanel.licence" src="license.txt"/>
        <res id="InfoPanel.info" src="release_notes.txt"/>
        <res id="shortcutSpec.xml" src="build/dist/shortcutSpec-windows.xml"/>
    </resources>

    <panels>
        <!-- <panel classname="HelloPanel"/>
          -->
        <panel classname="InfoPanel"/>
        <panel classname="LicencePanel"/>
        <panel classname="TargetPanel"/>
        <panel classname="PacksPanel"/>
        <panel classname="ShortcutPanel"/>
        <panel classname="InstallPanel"/>
        <panel classname="SimpleFinishPanel"/>
    </panels>

    <packs>
        <pack name="Base" required="yes">
            <description>RomRaider binary files</description>
            <file src="build/lib/@name.package@.jar" targetdir="$INSTALL_PATH"/>
            <file src="build/dist/@name.package@.exe" targetdir="$INSTALL_PATH"/>
            <!--
                        <file src="@name.package@.bat" targetdir="$INSTALL_PATH" />
            -->
            <file src="license.txt" targetdir="$INSTALL_PATH"/>
            <file src="release_notes.txt" targetdir="$INSTALL_PATH"/>
            <file src="log4j.properties" targetdir="$INSTALL_PATH"/>
            <fileset dir="graphics" targetdir="$INSTALL_PATH/graphics"
                     excludes="*.bmp"/>

            <!-- Logger files -->
            <file src="logger.xml" targetdir="$INSTALL_PATH"/>
            <file src="logger.dtd" targetdir="$INSTALL_PATH"/>
            <file src="profile.dtd" targetdir="$INSTALL_PATH"/>
            <file src="utec/utec.properties" targetdir="$INSTALL_PATH/utec"/>
            <file src="plugins/aem.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/lc1.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/lm1.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/utec.plugin" targetdir="$INSTALL_PATH/plugins"/>

            <file src="lib/BareBonesBrowserLaunch.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/jep.jar" targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/JFontChooser.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/@jar.swing-layout@"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/@jar.log4j@"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/Jama.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/jamlab.jar"
                  targetdir="$INSTALL_PATH/lib"/>

            <file src="lib/Graph3d/@jar.jama@"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/Graph3d/windows/Graph3d.jar"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/Graph3d/windows/lib/j3dcore.jar"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/Graph3d/windows/lib/j3dcore-ogl.dll"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/Graph3d/windows/lib/j3dcore-ogl-cg.dll"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/Graph3d/windows/lib/j3dutils.jar"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/Graph3d/windows/lib/vecmath.jar"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>

            <file src="lib/jdic/jdic.jar" targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/jdic/windows/jdic_stub.jar"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/jdic/windows/x86/IeEmbed.exe"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/jdic/windows/x86/jdic.dll"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/jdic/windows/x86/MozEmbed.exe"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>
            <file src="lib/jdic/windows/x86/tray.dll"
                  targetdir="$INSTALL_PATH/lib" os="windows"/>

            <file src="lib/logger/@jar.jcommon@"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/logger/@jar.jfreechart@"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/logger/@jar.jinvoke@"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/logger/rxtx/RXTXcomm.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/logger/rxtx/win32/rxtxSerial.dll"
                  targetdir="$INSTALL_PATH/lib"/>

            <file src="lib/tts/cmu_time_awb.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/tts/cmu_us_kal.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/tts/cmutimelex.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/tts/en_us.jar" targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/tts/freetts.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/tts/cmulex.jar"
                  targetdir="$INSTALL_PATH/lib"/>
            <file src="lib/tts/cmudict04.jar"
                  targetdir="$INSTALL_PATH/lib"/>
        </pack>
        <!-- END Base Pack -->

        <pack name="ECU Definitions" required="no">
            <description>
                The latest official ECU definitions
            </description>
            <file src="ecu_defs/ecu_defs.xml" targetdir="$INSTALL_PATH"/>
        </pack>

        <pack name="Source Files" required="no">
            <description>@name.package@ Source Files</description>
            <file src="src" targetdir="$INSTALL_PATH"/>
        </pack>
    </packs>
</installation>
