<?xml version="1.0" encoding="iso-8859-1" standalone="yes" ?>

<!-- @warning.generated-file@ -->

<installation version="1.0">

    <info>
        <appname>@name.package@</appname>
        <appversion>@version.major@.@version.minor@.@version.patch@ @version.extra@ @version.extra1@</appversion>
        <authors>
            <author name="@name.maintainer@" email="@email.maintainer@"/>
        </authors>
        <url>@supporturl@</url>
    </info>
    <guiprefs width="640" height="480" resizable="no"/>
    <locale>
        <langpack iso3="eng"/>
    </locale>
    <resources>
        <res id="LicencePanel.licence" src="license.txt"/>
        <res id="HTMLInfoPanel.info" src="jre_warning.html"/>
        <res id="InfoPanel.info" src="release_notes.txt"/>
        <res id="shortcutSpec.xml" src="build/dist/shortcutSpec-linux.xml"/>
    </resources>

    <panels>
        <panel classname="HTMLInfoPanel">
            <os arch="amd64" />
        </panel>
        <panel classname="InfoPanel"/>
        <panel classname="LicencePanel"/>
        <panel classname="TargetPanel"/>
        <panel classname="PacksPanel"/>
        <panel classname="ShortcutPanel"/>
        <panel classname="InstallPanel"/>
        <panel classname="SimpleFinishPanel"/>
    </panels>

    <packs>
        <pack name="Base" required="yes">
            <description>RomRaider binary files</description>
            <file src="build/linux/lib/@name.package@.jar" targetdir="$INSTALL_PATH"/>
            <file src="license.txt" targetdir="$INSTALL_PATH"/>
            <file src="release_notes.txt" targetdir="$INSTALL_PATH"/>

            <file src="lib/log4j.properties" targetdir="$INSTALL_PATH/lib"/>         
            <file src="src/main/resources/graphics/romraider-ico.ico" targetdir="$INSTALL_PATH"/>
            <file src="src/main/resources/graphics/icon-close.png" targetdir="$INSTALL_PATH"/>

            <file src="scripts/post-install-tasks.sh" targetdir="$INSTALL_PATH"/>

            <file src="plugins/aem2.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/aem.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/aem.xwifi.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/apsx.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/ecotrons.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/fourteenpoint7.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/innovate.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/mrf.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/phidget_ik.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/plx.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/te.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/txs_tuner.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/txs_utec.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <file src="plugins/zt2.plugin" targetdir="$INSTALL_PATH/plugins"/>
            <fileset dir="customize" targetdir="$INSTALL_PATH/customize"/>
            <fileset dir="i18n" targetdir="$INSTALL_PATH/i18n"/>

            <fileset dir="lib/common" targetdir="$INSTALL_PATH/lib/common"/>
            <fileset dir="lib/linux/@build.arch@" targetdir="$INSTALL_PATH/lib/linux"/>

            <updatecheck>
                <include name="plugins/**"/>
                <exclude name="plugins/aem2.plugin"/>
                <exclude name="plugins/aem.plugin"/>
                <exclude name="plugins/aem.xwifi.plugin"/>
                <exclude name="plugins/apsx.plugin"/>
                <exclude name="plugins/ecotrons.plugin"/>
                <exclude name="plugins/fourteenpoint7.plugin"/>
                <exclude name="plugins/innovate.plugin"/>
                <exclude name="plugins/mrf.plugin"/>
                <exclude name="plugins/phidget_ik.plugin"/>
                <exclude name="plugins/plx.plugin"/>
                <exclude name="plugins/te.plugin"/>
                <exclude name="plugins/txs_tuner.plugin"/>
                <exclude name="plugins/txs_utec.plugin"/>
                <exclude name="plugins/zt2.plugin"/>
                <exclude name="customize/**"/>
            </updatecheck>

	        <executable targetfile="$INSTALL_PATH/post-install-tasks.sh" stage="postinstall"
	        	failure="abort" keep="false">
				<args>
					<arg value="$INSTALL_PATH" />
				</args>
			</executable>

        </pack>

        <pack name="Source Files" required="no" preselected="no">
            <description>@name.package@ Source Files</description>
            <file src="src" targetdir="$INSTALL_PATH"/>
        </pack>
    </packs>
</installation>
