<!-- @warning.generated-file@ -->

<launch4jConfig>
    <dontWrapJar>false</dontWrapJar>
    <headerType>gui</headerType>
    <jar>windows/@name.package@@version.major@.@version.minor@.@version.patch@-@version.buildnumber@-windows.jar</jar>
    <outfile>windows/@name.package@@version.major@.@version.minor@.@version.patch@@version.extra@@version.extra1@-setup.exe</outfile>
    <errTitle></errTitle>
    <cmdLine></cmdLine>
    <chdir>.</chdir>
    <priority>normal</priority>
    <downloadUrl>http://java.com/download</downloadUrl>
    <supportUrl></supportUrl>
    <customProcName>false</customProcName>
    <stayAlive>false</stayAlive>
    <icon>../../src/main/resources/graphics/romraider-ico.ico</icon>
    <jre>
        <path></path>
        <minVersion>1.6.0</minVersion>
        <maxVersion></maxVersion>
        <dontUsePrivateJres>false</dontUsePrivateJres>
        <initialHeapSize>0</initialHeapSize>
        <maxHeapSize>0</maxHeapSize>
        <opt>@jvm.args.win@</opt>
    </jre>
    <splash>
        <file>../../src/main/resources/graphics/splash.bmp</file>
        <waitForWindow>true</waitForWindow>
        <timeout>60</timeout>
        <timeoutErr>true</timeoutErr>
    </splash>
    <versionInfo>
        <fileVersion>@version.major@.@version.minor@.@version.patch@.@version.buildnumber@</fileVersion>
        <txtFileVersion>@version.major@.@version.minor@.@version.patch@ @version.extra@ @version.extra1@</txtFileVersion>
        <fileDescription>@name.package@</fileDescription>
        <copyright>@name.organization@</copyright>
        <productVersion>@version.major@.@version.minor@.@version.patch@.@version.buildnumber@</productVersion>
        <txtProductVersion>@version.major@.@version.minor@.@version.patch@ @version.extra@ @version.extra1@</txtProductVersion>
        <productName>@name.package@</productName>
        <companyName>@name.organization@</companyName>
        <internalName>@version.major@.@version.minor@.@version.patch@ @version.extra@</internalName>
        <originalFilename>@name.package@.exe</originalFilename>
    </versionInfo>
</launch4jConfig>