<!-- @warning.generated-file@ -->

<shortcuts>
    <skipIfNotSupported/>
    <programGroup defaultName="@name.package@" location="programGroup"/>

    <shortcut
            name="@name.package@ ECU Editor"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$INSTALL_PATH/@name.package@.exe"
            commandLine=""
            initialState="normal"
            iconFile="$INSTALL_PATH/@name.package@.exe"
            iconIndex="0"
            workingDirectory="$INSTALL_PATH"
            type="Application"
            encoding="UTF-8"
            description="@description.package@">
        <createForPack name="Base"/>
    </shortcut>

    <shortcut
            name="@name.package@ Logger"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$INSTALL_PATH/@name.package@.exe"
            commandLine="-logger"
            initialState="normal"
            iconFile="$INSTALL_PATH/@name.package@.exe"
            iconIndex="0"
            workingDirectory="$INSTALL_PATH"
            type="Application"
            encoding="UTF-8"
            description="@description.package@">
        <createForPack name="Base"/>
    </shortcut>

    <shortcut
            name="@name.package@ Logger Fullscreen"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$INSTALL_PATH/@name.package@.exe"
            commandLine="-logger.fullscreen"
            initialState="normal"
            iconFile="$INSTALL_PATH/@name.package@.exe"
            iconIndex="0"
            workingDirectory="$INSTALL_PATH"
            type="Application"
            encoding="UTF-8"
            description="@description.package@">
        <createForPack name="Base"/>
    </shortcut>

    <shortcut
            name="@name.package@ Logger Touch Screen"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$INSTALL_PATH/@name.package@.exe"
            commandLine="-logger.touch"
            initialState="normal"
            iconFile="$INSTALL_PATH/@name.package@.exe"
            iconIndex="0"
            workingDirectory="$INSTALL_PATH"
            type="Application"
            encoding="UTF-8"
            description="@description.package@">
        <createForPack name="Base"/>
    </shortcut>

    <shortcut
            name="@name.package@ License"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$INSTALL_PATH/license.txt"
            workingDirectory="$INSTALL_PATH"
            commandLine=""
            initialState="normal"
            iconFile="${ENV[SystemRoot]}/system32/SHELL32.dll"
            iconIndex="70"
            url="$INSTALL_PATH/license.txt"
            type="Link"
            encoding="UTF-8"
            description="@name.package@ License agreement">
        <createForPack name="Base"/>
    </shortcut>

    <shortcut
            name="@name.package@ Release Notes"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$INSTALL_PATH/release_notes.txt"
            workingDirectory="$INSTALL_PATH"
            commandLine=""
            initialState="normal"
            iconFile="${ENV[SystemRoot]}/system32/SHELL32.dll"
            iconIndex="70"
            url="$INSTALL_PATH/release_notes.txt"
            type="Link"
            encoding="UTF-8"
            description="@name.package@ Release Notes">
        <createForPack name="Base"/>
    </shortcut>

    <shortcut
            name="@name.package@ Uninstaller"
            programGroup="yes"
            desktop="yes"
            applications="no"
            startMenu="no"
            startup="no"
            target="$JAVA_HOME/bin/javaw"
            commandLine="-jar &quot;$INSTALL_PATH/Uninstaller/uninstaller.jar&quot;"
            initialState="noShow"
            iconFile="${ENV[SystemRoot]}/system32/SHELL32.dll"
            iconIndex="102"
            workingDirectory=""
            type="Application"
            encoding="UTF-8"
            description="@name.package@ uninstaller">
        <createForPack name="Base"/>
    </shortcut>

</shortcuts>
