<!-- @warning.generated-file@ -->

<shortcuts>
	<skipIfNotSupported />
	<programGroup defaultName="RomRaider" location="programGroup"/>

	<shortcut
		name="@name.package@"
		programGroup="yes"
		desktop="yes"
		applications="no"
		startMenu="no"
		startup="no"
		target="$JAVA_HOME/bin/java"
		commandLine="-Djava.library.path=lib -Xmx256M -jar &quot;$INSTALL_PATH/@name.package@.jar&quot;"
		initialState="noShow"
		iconFile="$INSTALL_PATH/graphics/enginuity-ico.ico"
		workingDirectory="$INSTALL_PATH"
		type="Application"
		encoding="UTF-8"
		description="@description.package@">
		<createForPack name="Base" />
	</shortcut>

	<shortcut
		name="@name.package@ License"
		programGroup="yes"
		desktop="yes"
		applications="no"
		startMenu="no"
		startup="no"
		target=""
		workingDirectory=""
		commandLine=""
		initialState="noShow"
		iconFile="help"
		iconIndex="0"
		url="$INSTALL_PATH/license.txt"
		type="Link"
		encoding="UTF-8"
		description="@name.package@ License agreement">
		<createForPack name="Base" />
	</shortcut>
   
	<shortcut
		name="@name.package@ Release Notes"
		programGroup="yes"
		desktop="yes"
		applications="no"
		startMenu="no"
		startup="no"
		target=""
		workingDirectory=""
		commandLine=""
		initialState="noShow"
		iconFile="help"
		iconIndex="0"
		url="$INSTALL_PATH/release_notes.txt"
		type="Link"
		encoding="UTF-8"
		description="@name.package@ Release Notes">
		<createForPack name="Base" />
	</shortcut>
   
	<shortcut
		name="@name.package@ Uninstaller"
		programGroup="yes"
		desktop="yes"
		applications="no"
		startMenu="no"
		startup="no"
		target="$JAVA_HOME/bin/java"
		commandLine="-jar &quot;$INSTALL_PATH/Uninstaller/uninstaller.jar&quot;"
		initialState="noShow"
		iconFile="trashcan_full"
		iconIndex="0"
		workingDirectory=""
		type="Application"
		encoding="UTF-8"
		description="@name.package@ uninstaller">
		<createForPack name="Base" />
	</shortcut>
   
</shortcuts>
